# visual code
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
py3env

##### additional files #####
# rasa
rasa

# asr
ctcdecode
an4_pretrained_v2.pth
ted_pretrained_v2.pth
librispeech_pretrained_v2.pth
*.arpa
*.binary

# tts
espnet
tacotron2
fastspeech
transformer
ljspeech.parallel_wavegan.v1
