# visual code
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
py3env

# additional files
.gitignore
rasa
ted_pretrained_v2.pth
librispeech_pretrained_v2.pth
ctcdecode
espnet
