body,html{
	height: 100%;
	margin: 0;
	background: #7F7FD5;
	/*background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);*/
	overflow: hidden;
}

a{
	text-decoration: none;
}

.h-100{
	height: 100%;
}

.chat{
	margin-top: auto;
	margin-bottom: auto;
}

.card{
	height: 100%;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}

.msg_card_body{
	width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: content-box; 
}

.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}

.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}

.type_msg:focus{
	box-shadow:none !important;
   	outline:0px !important;
}

.send_btn1{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}

.send_btn2:disabled{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: #808080 !important;
}

.send_btn2:enabled{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}

.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;
}

.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;
}

.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}

.img_cont_msg{
	height: 40px;
	width: 40px;
}

.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}

.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.user_info span{
	font-size: 20px;
	color: white;
}

.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}

.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #82ccdd;
	padding: 10px;
	position: relative;
}

.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #78e08f;
	padding: 10px;
	position: relative;
}

.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}

.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}

.msg_head{
	position: relative;
}

#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.action_menu{
	z-index: 1;
	position: absolute;
	/* padding: 15px 0; */
	background-color: rgba(47, 46, 81, 0.93);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	/* margin-bottom: 5px; */
}

.action_menu ul li i{
	padding-right: 10px;

}

.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}

/* For toggle switches */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	/* height: 34px; */
}
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #4c4b7f;
}

input:checked + .slider:before {
	right: 4px;
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}